@model IEnumerable<ConestogaVirtualGameStore.Web.Models.Review>

@{
    ViewData["Title"] = "Review List";
}

<h2>Review List</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    Review Text
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @item.Date.ToShortDateString()
            </td>
            <td>
                <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("Approve", "Reviews", new {@id = item.RecordId})'">Approve</button>
                <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("Delete", "Reviews", new {@id = item.RecordId})'">Decline</button>
            </td>
        </tr>
}
    </tbody>
</table>
