@model IEnumerable<ConestogaVirtualGameStore.Web.Models.Event>

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<p>
    <a asp-action="Create">Add New Event</a>
</p>
<table class="table">
    <tbody>
        @foreach (var item in Model.OrderByDescending(e => e.Date))
        {
            <tr>
                <td class="image-column">
                    <img class="list-image" src="~/images/events/@item.ImagePath" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td style="width: 500px;">
                    @item.Description
                </td>
                <td>
                
                    @if (User.IsInRole("Employee"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> @:|
                        <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a> @:|
                    }
                
                    <a asp-action="Details" asp-route-id="@item.RecordId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
