@model ConestogaVirtualGameStore.Web.Models.Game

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-md-12">
        <h1>@Model.Title</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <img class="table-image" src="~/images/games/@Model.ImageFileName" />
    </div>
    <div class="col-md-6">
        <p>@Model.Description</p>
    </div>
    <div class="col-md-2">
        <h3>$@Model.Price</h3>
    </div>
</div>

<div class="row">&nbsp;</div>

<div class="row">
    <div class="col-md-1">Developer: </div>
    <div class="col-md-2">@Model.Developer</div>
    <div class="col-md-9"></div>
</div>

<div class="row">
    <div class="col-md-1">Publisher: </div>
    <div class="col-md-2">@Model.Publisher</div>
    <div class="col-md-9"></div>
</div>

<div class="row">
    <div class="col-md-1">Published: </div>
    <div class="col-md-2">@Model.Date.ToShortDateString()</div>
    <div class="col-md-9"></div>
</div>

<div class="row">
    <div class="col-md-12">
        @if (User.Identity.IsAuthenticated)
        {
            if (User.IsInRole("Employee"))
            {
                <a asp-action="Edit" asp-route-id="@Model.RecordId">Edit</a>
                <br/>
                <a asp-action="Delete" asp-route-id="@Model.RecordId">Delete</a><br/>
            }
        }
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-9">&nbsp;</div>
        <div class="col-md-3">
<<<<<<< HEAD
            <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("AddGameToWishList", "Game", new { @id = Model.RecordId })'">Add To Wishlist</button>
=======
            <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("Add", "Wishlist", new { @id = Model.Title })'">Add To Wishlist</button>
>>>>>>> 79d41529a5a71522eccdc10e27525a2bcf16d645
            <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("ConfirmShoppingCart", "Game", new {@id = Model.RecordId})'">Add To Cart</button>
        </div>
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-11">&nbsp;</div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("CreateReview", "Game", new {@id = Model.RecordId})'">Add Review</button>
        </div>
    </div>
}

@foreach (var review in @Model.Reviews)
{
    <div class="row">
        <div class="col-md-1"><h4>Title: </h4></div>
        <div class="col-md-2"><h4>@review.Title</h4></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"><h4>Rating: </h4></div>
        <div class="col-md-3">
            @for (int i = 0; i < review.Rating; i++)
            {
                <img src="~/images/star.png" width="20" />
            }
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12"><p>@review.ReviewText</p></div>
    </div>
    <div class="row">&nbsp;</div>
}