@using ConestogaVirtualGameStore.Web.Models.ViewModels
@model List<ConestogaVirtualGameStore.Web.Models.ViewModels.GameViewModel>

@{
    ViewData["Title"] = "Games";
}

<h2>Games</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Game" asp-action="Index">
            <p>
                Title: <input type="text" name="id">
                <input class="btn btn-primary" type="submit" value="Search" />
                <button type="submit" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Game")'">Reset</button>
            </p>
        </form>
    </div>
</div>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Employee"))
        {
            <a asp-action="Create">Add New Game</a>
        }
    }
</p>

@if (!Model.Any())
{
    <h2>No Games Found!</h2>
}

<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="image-column">
                <img class="list-image" src="~/images/games/@item.ImageFileName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @item.Price.ToString("C")
            </td>
            <td>
                
                @if (User.IsInRole("Employee"))
                {
                    <a asp-action="Edit" asp-route-id="@item.RecordId">Edit</a> @:|
                    <a asp-action="Delete" asp-route-id="@item.RecordId">Delete</a> @:|
                }
                
                <a asp-action="Details" asp-route-id="@item.RecordId">Details</a> |
                @if (item.IsOwned)
                {
                    <a asp-action="Index" asp-controller="Library">In Library</a>
                    <br />
                }
                else
                {
                    <a asp-action="ConfirmShoppingCart" asp-route-id="@item.RecordId">Add To Cart</a>
                    <br/>
                }
            </td>
        </tr>
}
    </tbody>
</table>
