@model IEnumerable<ConestogaVirtualGameStore.Web.Models.ShoppingCartItem>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
            <th>
                Download
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.AddedOn.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Game.Description)
            </td>
            <td>
                @if (item.Game.IsDownloadable)
                {
                    <button type="submit" class="btn btn-primary" onclick="location.href = '@Url.Action("Index", "Game")'">Download Game</button>
                }
            </td>
        </tr>
}
    </tbody>
</table>
